.field{
  width: 300px;
  padding-bottom: 20px;
  font-size: x-large;
}

.colour-border{
  border: 3px solid greenyellow;
  padding: 10px;
  font-style: bold;
}

.header{
  padding: 10px;
  font-size: xx-large;
  font-weight: bolder;
}

body{
  padding: 10px;
  background-color: solid green;
  font: bold;
  font-weight: bold;

}