.field{
  width: 300px;
  padding-bottom: 20px;
  font-size: x-large;
}

.colour-border{
  border: 3px solid green;
  padding: 10px;
  font-style: italic;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: greenyellow;
  font: bold;
}